<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showImageOverlay="ALWAYS"
	frameWidth="20"
	showAutoPlayButton="true"
	showNavButtons="true"
	showThumbsButton="false"
	showExpandButton="false"
	showOpenButton="false"
	buttonBarPosition="TOP"
	galleryTitle="Gallery Title"
	galleryTitlePosition="TOP"
	captionPosition="BELOW_IMAGE"
	showImageNav="false"
	maxCaptionHeight="50"
	thumbCornerRadius="10"
	thumbFrameWidth="2"
	changeImageOnHover="true"
	thumbPadding="6"
	showPreloader="false"
	showAutoPlayStatus="false"
	randomizeImages="true"
	imageTransitionType="NONE"
	thumbFrameColor="rgba(255,102,102,1)"
	textColor="rgba(255,255,153,1)"
	captionBackColor="rgba(0,153,204,.5)"
	backgroundColor="rgba(0,102,0,.2)"
	imageFrameColor="rgba(255,204,0,1)"
	buttonBarBackColor="rgba(160,200,50,1)"
	topBackColor="rgba(0,51,153,0.3)"
	buttonBarIconColor="rgba(255,255,0,1)"
	navButtonIconColor="rgba(255,255,0,1)"
	buttonBarIconHoverColor="rgba(255,0,0,1)"
	navButtonIconHoverColor="rgba(255,0,0,1)"
	imageShadowColor="rgba(0,0,0,0)"
	thumbShadowColor="rgba(0,0,0,0)"
	textShadowColor="rgba(0,0,0,0)"
	navButtonBackColor="rgba(160,200,50,1)"
	enableAutoPlay="true"

>
  <image imageURL="images/flw_win.jpg"
	thumbURL="thumbs/flw_win.jpg"
	linkURL="images/flw_win.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\flw_win.png">
    <title><![CDATA[flw_win]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0056.jpeg"
	thumbURL="thumbs/IMG_0056.jpeg"
	linkURL="images/IMG_0056.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_0056.jpeg">
    <title><![CDATA[IMG_0056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0606.jpeg"
	thumbURL="thumbs/IMG_0606.jpeg"
	linkURL="images/IMG_0606.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_0606.jpeg">
    <title><![CDATA[IMG_0606]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0738.jpeg"
	thumbURL="thumbs/IMG_0738.jpeg"
	linkURL="images/IMG_0738.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_0738.jpeg">
    <title><![CDATA[IMG_0738]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0885.jpeg"
	thumbURL="thumbs/IMG_0885.jpeg"
	linkURL="images/IMG_0885.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_0885.jpeg">
    <title><![CDATA[IMG_0885]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0938.jpeg"
	thumbURL="thumbs/IMG_0938.jpeg"
	linkURL="images/IMG_0938.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_0938.jpeg">
    <title><![CDATA[IMG_0938]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1086.jpeg"
	thumbURL="thumbs/IMG_1086.jpeg"
	linkURL="images/IMG_1086.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_1086.jpeg">
    <title><![CDATA[IMG_1086]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1229.jpeg"
	thumbURL="thumbs/IMG_1229.jpeg"
	linkURL="images/IMG_1229.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_1229.jpeg">
    <title><![CDATA[IMG_1229]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1237.jpeg"
	thumbURL="thumbs/IMG_1237.jpeg"
	linkURL="images/IMG_1237.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_1237.jpeg">
    <title><![CDATA[IMG_1237]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1806.jpeg"
	thumbURL="thumbs/IMG_1806.jpeg"
	linkURL="images/IMG_1806.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_1806.jpeg">
    <title><![CDATA[IMG_1806]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1837.jpeg"
	thumbURL="thumbs/IMG_1837.jpeg"
	linkURL="images/IMG_1837.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_1837.jpeg">
    <title><![CDATA[IMG_1837]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1936.jpeg"
	thumbURL="thumbs/IMG_1936.jpeg"
	linkURL="images/IMG_1936.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_1936.jpeg">
    <title><![CDATA[IMG_1936]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1953.jpeg"
	thumbURL="thumbs/IMG_1953.jpeg"
	linkURL="images/IMG_1953.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_1953.jpeg">
    <title><![CDATA[IMG_1953]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2141.jpeg"
	thumbURL="thumbs/IMG_2141.jpeg"
	linkURL="images/IMG_2141.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2141.jpeg">
    <title><![CDATA[IMG_2141]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2203.jpeg"
	thumbURL="thumbs/IMG_2203.jpeg"
	linkURL="images/IMG_2203.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2203.jpeg">
    <title><![CDATA[IMG_2203]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2238.jpeg"
	thumbURL="thumbs/IMG_2238.jpeg"
	linkURL="images/IMG_2238.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2238.jpeg">
    <title><![CDATA[IMG_2238]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2300.jpeg"
	thumbURL="thumbs/IMG_2300.jpeg"
	linkURL="images/IMG_2300.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2300.jpeg">
    <title><![CDATA[IMG_2300]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2363.jpeg"
	thumbURL="thumbs/IMG_2363.jpeg"
	linkURL="images/IMG_2363.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2363.jpeg">
    <title><![CDATA[IMG_2363]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2430.jpeg"
	thumbURL="thumbs/IMG_2430.jpeg"
	linkURL="images/IMG_2430.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2430.jpeg">
    <title><![CDATA[IMG_2430]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2535.jpeg"
	thumbURL="thumbs/IMG_2535.jpeg"
	linkURL="images/IMG_2535.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2535.jpeg">
    <title><![CDATA[IMG_2535]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2678.jpeg"
	thumbURL="thumbs/IMG_2678.jpeg"
	linkURL="images/IMG_2678.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_2678.jpeg">
    <title><![CDATA[IMG_2678]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3035.jpeg"
	thumbURL="thumbs/IMG_3035.jpeg"
	linkURL="images/IMG_3035.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_3035.jpeg">
    <title><![CDATA[IMG_3035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3241.jpeg"
	thumbURL="thumbs/IMG_3241.jpeg"
	linkURL="images/IMG_3241.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_3241.jpeg">
    <title><![CDATA[IMG_3241]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3294.jpeg"
	thumbURL="thumbs/IMG_3294.jpeg"
	linkURL="images/IMG_3294.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_3294.jpeg">
    <title><![CDATA[IMG_3294]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3588.jpeg"
	thumbURL="thumbs/IMG_3588.jpeg"
	linkURL="images/IMG_3588.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_3588.jpeg">
    <title><![CDATA[IMG_3588]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3702.jpeg"
	thumbURL="thumbs/IMG_3702.jpeg"
	linkURL="images/IMG_3702.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_3702.jpeg">
    <title><![CDATA[IMG_3702]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3855.jpeg"
	thumbURL="thumbs/IMG_3855.jpeg"
	linkURL="images/IMG_3855.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_3855.jpeg">
    <title><![CDATA[IMG_3855]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4000.jpeg"
	thumbURL="thumbs/IMG_4000.jpeg"
	linkURL="images/IMG_4000.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_4000.jpeg">
    <title><![CDATA[IMG_4000]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4015.jpeg"
	thumbURL="thumbs/IMG_4015.jpeg"
	linkURL="images/IMG_4015.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_4015.jpeg">
    <title><![CDATA[IMG_4015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4039.jpeg"
	thumbURL="thumbs/IMG_4039.jpeg"
	linkURL="images/IMG_4039.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_4039.jpeg">
    <title><![CDATA[IMG_4039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4386.jpeg"
	thumbURL="thumbs/IMG_4386.jpeg"
	linkURL="images/IMG_4386.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_4386.jpeg">
    <title><![CDATA[IMG_4386]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5005.jpeg"
	thumbURL="thumbs/IMG_5005.jpeg"
	linkURL="images/IMG_5005.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5005.jpeg">
    <title><![CDATA[IMG_5005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5194.jpeg"
	thumbURL="thumbs/IMG_5194.jpeg"
	linkURL="images/IMG_5194.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5194.jpeg">
    <title><![CDATA[IMG_5194]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5337.jpeg"
	thumbURL="thumbs/IMG_5337.jpeg"
	linkURL="images/IMG_5337.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5337.jpeg">
    <title><![CDATA[IMG_5337]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5387.jpeg"
	thumbURL="thumbs/IMG_5387.jpeg"
	linkURL="images/IMG_5387.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5387.jpeg">
    <title><![CDATA[IMG_5387]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5408.jpeg"
	thumbURL="thumbs/IMG_5408.jpeg"
	linkURL="images/IMG_5408.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5408.jpeg">
    <title><![CDATA[IMG_5408]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5432.jpeg"
	thumbURL="thumbs/IMG_5432.jpeg"
	linkURL="images/IMG_5432.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5432.jpeg">
    <title><![CDATA[IMG_5432]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5506.jpeg"
	thumbURL="thumbs/IMG_5506.jpeg"
	linkURL="images/IMG_5506.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5506.jpeg">
    <title><![CDATA[IMG_5506]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5639.jpeg"
	thumbURL="thumbs/IMG_5639.jpeg"
	linkURL="images/IMG_5639.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5639.jpeg">
    <title><![CDATA[IMG_5639]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5736.jpeg"
	thumbURL="thumbs/IMG_5736.jpeg"
	linkURL="images/IMG_5736.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5736.jpeg">
    <title><![CDATA[IMG_5736]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5770.jpeg"
	thumbURL="thumbs/IMG_5770.jpeg"
	linkURL="images/IMG_5770.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5770.jpeg">
    <title><![CDATA[IMG_5770]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5900.jpeg"
	thumbURL="thumbs/IMG_5900.jpeg"
	linkURL="images/IMG_5900.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5900.jpeg">
    <title><![CDATA[IMG_5900]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5940.jpeg"
	thumbURL="thumbs/IMG_5940.jpeg"
	linkURL="images/IMG_5940.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_5940.jpeg">
    <title><![CDATA[IMG_5940]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6152.jpeg"
	thumbURL="thumbs/IMG_6152.jpeg"
	linkURL="images/IMG_6152.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6152.jpeg">
    <title><![CDATA[IMG_6152]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6380.jpeg"
	thumbURL="thumbs/IMG_6380.jpeg"
	linkURL="images/IMG_6380.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6380.jpeg">
    <title><![CDATA[IMG_6380]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6409.jpeg"
	thumbURL="thumbs/IMG_6409.jpeg"
	linkURL="images/IMG_6409.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6409.jpeg">
    <title><![CDATA[IMG_6409]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6415.jpeg"
	thumbURL="thumbs/IMG_6415.jpeg"
	linkURL="images/IMG_6415.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6415.jpeg">
    <title><![CDATA[IMG_6415]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6421.jpeg"
	thumbURL="thumbs/IMG_6421.jpeg"
	linkURL="images/IMG_6421.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6421.jpeg">
    <title><![CDATA[IMG_6421]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6515.jpeg"
	thumbURL="thumbs/IMG_6515.jpeg"
	linkURL="images/IMG_6515.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6515.jpeg">
    <title><![CDATA[IMG_6515]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6581.jpeg"
	thumbURL="thumbs/IMG_6581.jpeg"
	linkURL="images/IMG_6581.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6581.jpeg">
    <title><![CDATA[IMG_6581]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6728.jpeg"
	thumbURL="thumbs/IMG_6728.jpeg"
	linkURL="images/IMG_6728.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6728.jpeg">
    <title><![CDATA[IMG_6728]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6837.jpeg"
	thumbURL="thumbs/IMG_6837.jpeg"
	linkURL="images/IMG_6837.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6837.jpeg">
    <title><![CDATA[IMG_6837]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6855.jpeg"
	thumbURL="thumbs/IMG_6855.jpeg"
	linkURL="images/IMG_6855.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6855.jpeg">
    <title><![CDATA[IMG_6855]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6881.jpeg"
	thumbURL="thumbs/IMG_6881.jpeg"
	linkURL="images/IMG_6881.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_6881.jpeg">
    <title><![CDATA[IMG_6881]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7150.jpeg"
	thumbURL="thumbs/IMG_7150.jpeg"
	linkURL="images/IMG_7150.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7150.jpeg">
    <title><![CDATA[IMG_7150]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7167.jpeg"
	thumbURL="thumbs/IMG_7167.jpeg"
	linkURL="images/IMG_7167.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7167.jpeg">
    <title><![CDATA[IMG_7167]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7172.jpeg"
	thumbURL="thumbs/IMG_7172.jpeg"
	linkURL="images/IMG_7172.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7172.jpeg">
    <title><![CDATA[IMG_7172]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7229.jpeg"
	thumbURL="thumbs/IMG_7229.jpeg"
	linkURL="images/IMG_7229.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7229.jpeg">
    <title><![CDATA[IMG_7229]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7495.jpeg"
	thumbURL="thumbs/IMG_7495.jpeg"
	linkURL="images/IMG_7495.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7495.jpeg">
    <title><![CDATA[IMG_7495]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7622.jpeg"
	thumbURL="thumbs/IMG_7622.jpeg"
	linkURL="images/IMG_7622.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7622.jpeg">
    <title><![CDATA[IMG_7622]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7785.jpeg"
	thumbURL="thumbs/IMG_7785.jpeg"
	linkURL="images/IMG_7785.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7785.jpeg">
    <title><![CDATA[IMG_7785]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7840.jpeg"
	thumbURL="thumbs/IMG_7840.jpeg"
	linkURL="images/IMG_7840.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_7840.jpeg">
    <title><![CDATA[IMG_7840]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8088.jpeg"
	thumbURL="thumbs/IMG_8088.jpeg"
	linkURL="images/IMG_8088.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8088.jpeg">
    <title><![CDATA[IMG_8088]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8193.jpeg"
	thumbURL="thumbs/IMG_8193.jpeg"
	linkURL="images/IMG_8193.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8193.jpeg">
    <title><![CDATA[IMG_8193]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8296.jpeg"
	thumbURL="thumbs/IMG_8296.jpeg"
	linkURL="images/IMG_8296.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8296.jpeg">
    <title><![CDATA[IMG_8296]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8308.jpeg"
	thumbURL="thumbs/IMG_8308.jpeg"
	linkURL="images/IMG_8308.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8308.jpeg">
    <title><![CDATA[IMG_8308]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8317.jpeg"
	thumbURL="thumbs/IMG_8317.jpeg"
	linkURL="images/IMG_8317.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8317.jpeg">
    <title><![CDATA[IMG_8317]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8397.jpeg"
	thumbURL="thumbs/IMG_8397.jpeg"
	linkURL="images/IMG_8397.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8397.jpeg">
    <title><![CDATA[IMG_8397]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8507.jpeg"
	thumbURL="thumbs/IMG_8507.jpeg"
	linkURL="images/IMG_8507.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8507.jpeg">
    <title><![CDATA[IMG_8507]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8697.jpeg"
	thumbURL="thumbs/IMG_8697.jpeg"
	linkURL="images/IMG_8697.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8697.jpeg">
    <title><![CDATA[IMG_8697]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8965.jpeg"
	thumbURL="thumbs/IMG_8965.jpeg"
	linkURL="images/IMG_8965.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_8965.jpeg">
    <title><![CDATA[IMG_8965]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9003.jpeg"
	thumbURL="thumbs/IMG_9003.jpeg"
	linkURL="images/IMG_9003.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_9003.jpeg">
    <title><![CDATA[IMG_9003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9455.jpeg"
	thumbURL="thumbs/IMG_9455.jpeg"
	linkURL="images/IMG_9455.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_9455.jpeg">
    <title><![CDATA[IMG_9455]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9552.jpeg"
	thumbURL="thumbs/IMG_9552.jpeg"
	linkURL="images/IMG_9552.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_9552.jpeg">
    <title><![CDATA[IMG_9552]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9561.jpeg"
	thumbURL="thumbs/IMG_9561.jpeg"
	linkURL="images/IMG_9561.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_9561.jpeg">
    <title><![CDATA[IMG_9561]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9869.jpeg"
	thumbURL="thumbs/IMG_9869.jpeg"
	linkURL="images/IMG_9869.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_9869.jpeg">
    <title><![CDATA[IMG_9869]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9912.jpeg"
	thumbURL="thumbs/IMG_9912.jpeg"
	linkURL="images/IMG_9912.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\IMG_9912.jpeg">
    <title><![CDATA[IMG_9912]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/reese_sean.jpg"
	thumbURL="thumbs/reese_sean.jpg"
	linkURL="images/reese_sean.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Daniel\Desktop\PSBF\PSBF\images\Gallery\reese_sean.png">
    <title><![CDATA[reese_sean]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>